<h1>Log in to your Sails Application</h1>

<form action="/login" method="post">
	<label for="secret">Your password</label><br/>
	<input name="secret" placeholder="What's your password?" id="secret" type="password"/>
</form>