<h1>Log in to your Sails Application</h1>

<form action="/login" method="post">
	<input type="hidden" name="submitted"/>
	<label for="secret">Your password</label><br/>
	<input tabindex="1" name="secret" placeholder="What's your password?" id="secret" type="password"/>
	<% if (loginError) { %>
	<span class="error"><%- loginError %></span>
	<% } %>
</form>