<h1>Login to crud.io</h1>

<form action="/login" method="post">
	<label for="secret">Spill your guts.</label><br/>
	<input name="secret" placeholder="Type secret" id="secret" type="password"/>
</form>