<h1>Register an administrator</h1>

<form action="/auth/registerAdmin" method="post">
	<label for="password">Choose your password</label><br/>
	
	<input name="submitted" value="true" type="hidden"/>
	
	<input name="username" value="TESTUSER" type="hidden"/>
	
	<input placeholder="Make sure no one's looking." tabindex="1" name="password" id="password" type="password"/>
	<% if (validationErrors['password']) { %>
	<span class="error"><%- validationErrors['password'] %></span>
	<% } %>
</form>