<script type="text/javascript" src="/sources/models/Content.js"></script>
<script type="text/javascript" src="/sources/collections/Contents.js"></script>
<script type="text/javascript" src="/sources/views/ContentView.js"></script>
<script type="text/javascript" src="/sources/views/ContentsView.js"></script>

<h1 class="manage-content">manage content</h1>

<div class="clear"></div>


<div class="ui-list-wrapper">
<a class="create-node">create new node</a>
<input class="ui-list-search" type="text" placeholder="search for node..." />
<div class="clear"></div>
	<div class="ui-list content-node-list">
		<ul></ul>
	</div>
</div>

<div class="clear"></div>
<!--
<div class="table-wrapper content-section">
	<h1 class="branded capped">Recent Activity<span class="asterisk"></span></h1>
	<div class="filter-bar">
	  <input type="text" placeholder="Filter responses" />
	</div>
	<table class="ui-table">
	  <thead>
		<tr>
		  <th>Recipient</th>
		  <th>Mobile User Responded</th>
		  <th>Message Subject</th>
		  <th>Button</th>
		  <th>Message Sent</th>
		  <th class="actionButtons">&nbsp;</th>
		</tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>

  </div>-->