{
  //   ╔═╗╔═╗╦  ╦╔╗╔╔╦╗┬─┐┌─┐
  //   ║╣ ╚═╗║  ║║║║ ║ ├┬┘│
  //  o╚═╝╚═╝╩═╝╩╝╚╝ ╩ ┴└─└─┘
  // A set of basic conventions (similar to .jshintrc) for use within any
  // arbitrary JavaScript / Node.js package -- inside or outside Sails.js.
  // For the master copy of this file, see the `.eslintrc` template file in
  // the `sails-generate` package (https://www.npmjs.com/package/sails-generate.)
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // For more information about any of the rules below, check out the relevant
  // reference page on eslint.org.  For example, to get details on "no-sequences",
  // you would visit `http://eslint.org/docs/rules/no-sequences`.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  "env": {
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 5
    // ^^This can be changed to 8 if this package does not support <= Node v6.
  },

  "rules": {
    "callback-return":              [2, ["callback", "cb", "next", "done", "proceed"]],
    "camelcase":                    [1, {"properties": "always"}],
    "comma-style":                  [2, "last"],
    "curly":                        [2],
    "eqeqeq":                       [2, "always"],
    "eol-last":                     [1],
    "handle-callback-err":          [2],
    "indent":                       [1, 2, {"SwitchCase": 1}],
    "linebreak-style":              [2, "unix"],
    "no-dupe-keys":                 [2],
    "no-duplicate-case":            [2],
    "no-mixed-spaces-and-tabs":     [2, "smart-tabs"],
    "no-return-assign":             [2, "always"],
    "no-sequences":                 [2],
    "no-trailing-spaces":           [1],
    "no-undef":                     [2],
    "no-unexpected-multiline":      [1],
    "no-unused-vars":               [1],
    "no-use-before-define":         [2, { "functions": false }],
    "one-var":                      [2, "never"],
    "quotes":                       [1, "single", { "avoidEscape": false, "allowTemplateLiterals": true }],
    "semi":                         [2, "always"]
  }

}
