.git
./.gitignore
./.jshintrc
./.editorconfig
./.travis.yml
./appveyor.yml
./example
./examples
./test
./tests
./.github

node_modules
npm-debug.log
.node_history
*.swo
*.swp
*.swn
*.swm
*.seed
*.log
*.out
*.pid
lib-cov
.DS_STORE
*#
*\#
.\#*
*~
.idea
.netbeans
nbproject
.tmp
dump.rdb
