# # # # # # # # # # # # # # # # # # # # # # # # # #
#  ╔═╗╔═╗╔═╗╦  ╦╔═╗╦ ╦╔═╗╦═╗ ┬ ┬┌┬┐┬              #
#  ╠═╣╠═╝╠═╝╚╗╔╝║╣ ╚╦╝║ ║╠╦╝ └┬┘││││              #
#  ╩ ╩╩  ╩   ╚╝ ╚═╝ ╩ ╚═╝╩╚═o ┴ ┴ ┴┴─┘            #
#                                                 #
# This file configures Appveyor CI.               #
# (i.e. how we run the tests on Windows)          #
#                                                 #
# https://www.appveyor.com/docs/lang/nodejs-iojs/ #
# # # # # # # # # # # # # # # # # # # # # # # # # #


# Test against these versions of Node.js.
environment:
  matrix:
    - nodejs_version: "10"
    - nodejs_version: "12"
    - nodejs_version: "14"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js
  # (Not sure what this is for, it's just in Appveyor's example.)
  - ps: Install-Product node $env:nodejs_version
  # Install declared dependencies
  - npm install


# Post-install test scripts.
test_script:
  # Output Node and NPM version info.
  # (Presumably just in case Appveyor decides to try any funny business?
  #  But seriously, always good to audit this kind of stuff for debugging.)
  - node --version
  - npm --version
  # Run the actual tests (but note that we skip linting.)
  - npm run custom-tests


# Don't actually build.
# (Not sure what this is for, it's just in Appveyor's example.
#  I'm not sure what we're not building... but I'm OK with not
#  building it.  I guess.)
build: off
