.mast-button {
	cursor:pointer;
	text-align: center;
	background:#999;
	color: #222;
	width: 30%;
	margin: 5% auto;
	padding: 2%;
	font-size: 1.1em;
	border-radius: 0.2em;
	display:block;
	clear:both;
	border: 2px solid #888;
}
