.ddown {
	background: #eee;
	margin: 0 auto;
	width:50%;
	cursor: pointer;
}

.dropdown {
	background: #eee;
	padding:0;
	margin: 0 auto;
	width:100%;
}
.dropdown-expanded {
/*	background: #eee;
	padding:1em;
	margin: 0 auto;
	width:50%;
	background: #bbb;
	position:relative;*/
}

.dropdown-expanded ul {
/*	position:absolute; z-index: 1;
	width:200px;height:200px;
	background:red;*/
}
.dropdown-expanded ul li {
/*	padding:5%;
	margin: 0 auto;
	width:90%;
	border: 1px solid blue;*/
}