.dropdown {
	background: #eee;
	padding:1em;
	margin: 0 auto;
	width:50%;
}

.dropdown.expanded {
	background: #bbb;
}
.dropdown-expanded ul li {
	padding:1em;
	margin: 0 auto;
	width:50%;
	border: 1px solid blue;
}