<ul class="mast-template-navbar" id="mast-template-navbar">
	<li><a>Home</a></li>
	<li><a>About</a></li>
	<li><a>Contact Us</a></li>
	<li><a>Pricing</a></li>
	<li><a>Buy Now!</a></li>	
</ul>

<style type="text/css">
	.mast-template-navbar {

		background:red;
	}


	@media screen and (max-width: 400px) {
		.mast-template-navbar {
			background:blue;
		}
	}

</style>