<!--
	REMEMBER:
	Don't use IDs in css selectors for templates!
	IDs are stripped from templates!
-->

<div class="testtable" id="mast-template-testtable">
	<a class="deselectAll">Deselect All</a>
	<a class="addRow">+ Add row</a>
	<input type="text" class="searchbox" placeholder="Search"/>
	<div class="clear"></div>
	<ul class="row-outlet"></ul>
</div>

<div class="empty" id="mast-template-testtable-empty">
	<span>Nothing to see here...</span>
</div>

<li class="row {% if (highlighted) { %} highlighted {% } %}" id="mast-template-testtable-row">
	
	<span>{{-title}} | {{-value}} </span>
	{% if (allowEdit) { %}<a class="doUpdate" style="cursor:pointer;"></a> {% } %}
	<a class="doDelete" style="cursor:pointer;">x</a>
</li>