
<div class="test">
	<textarea>{{name}}</textarea>
	<div class="ddown"></div>
</div>

<div class="test1">
	<h3>NEW TEMPLATE</h3>
	<textarea>{{name}}</textarea>
	<p>Can use the same, or different data!</p>
	<div class="ddown"></div>
</div>






