.testtable {
	float:left;
	background: #aaf;
	padding:1em;
	margin: 0 auto;
	width:50%;
	min-height:100px;
}

.testtable ul {
	margin-top: 1em;
}

.testtable a {
	background:#a33;
	border: 1px inset #b55;
	border-bottom: 3px inset #633;
	border-right: 4px inset #522;
	padding: 0.2em 0.5em;
	display:block;
	float:right;
	font-weight:bold;
	color:white;
	cursor:pointer;
}

.testtable .searchbox {
	float:left;
	/*		clear:both;*/
	display:block;
}

.testtable .row {
	background:#99e;
	border: 1px inset #559;
	border-right:none;
	cursor:pointer;
	overflow:auto;
}
.testtable .row span {
	display:block;
	float:left;
}
.testtable .row a, .testtable .row span {
	padding: 0.3em 0.5em 0.3em 0.5em;
}
.testtable .row.highlighted {
	background:#eee;
	border: 1px outset #bbf;
	border-bottom: 3px outset #bbf;
	border-right:none;
	font-weight:bold;
}

.clear {clear:both;}

.testtable .empty {
	text-align:center;
	font-style:italic;
	margin-top: 2.2em;
	color: #227;
}

.hidden {
	display:none;
}