<style type="text/css">
	.dropdown {
		background: #eee;
		padding:1em;
		margin: 0 auto;
		width:50%;
	}

	.dropdown.expanded {
		background: #bbb;
	}
	.dropdown-expanded ul li {
		padding:1em;
		margin: 0 auto;
		width:50%;
		border: 1px solid blue;
	}
</style>

<div class="dropdown template">
	CLICK HERE FOR DROPDOWN!
</div>

<div class="dropdown-expanded template">
	<ul><li>
			item 1
		</li></ul>
</div>
