<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/layout.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/responsive.css"/>
	
	<!-- Compiled socket.io SDK -->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="topbar">
		<h1 id="branding">
			<a href="/">sails.js</a>
		</h1>
	</div>
	
	<div id="content">
		<%- body %>
	</div>
	
	<div id="footer">
		<a target="_blank" href="http://sailsjs.com" class="copyright">&copy; Sails Framework 2012</a>
	</div>
</body>
</html>
