<div style="display:none;" id="mast-template-library">
	<%

	function isEjs(filename) { return filename.match(/.+\.ejs$/g); }

	// Get all files in components dir
	var viewRelativePath = "../mast/templates", 
	appRelativePath = 'mast/templates';
	fs.readdirSync(appRelativePath).forEach(function(filename) {

	if (filename[0] === '_' || !isEjs(filename)) { return; }
	var filepath = path.join(viewRelativePath, filename);

	%>
	<%- partial(filepath,{}) %>
	<% }); %>
</div>