body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

/* Style */
html {
	background:#f0f0f0;
}

a {
  color: #00B7FF;
}

h1 {
	font-size: 28px;
	font-weight:bold;
	margin: 20px 0 15px;
	color:#444;
	text-shadow: 0 0 5px rgba(150,150,150, 0.6);
}


/* Layout */
#topbar {
	width: 100%;
	padding: 0 2em;
	background:black;
	position:fixed;
	top:0; left:0;
	z-index:100;
	box-shadow: 0 2px 2px rgba(100,100,100,0.5);
}

#branding {
	margin: 0;
	text-shadow:none;
	padding: 12px 0 0;
	height:35px;
	font-size: 19px;
	font-weight:normal;
	color:white;
	width: 100px;
	float:left;
}

#navbar {
	overflow:auto;
}
#navbar li {
	float:left;
}
#navbar li a {
	color:#aaa;
	font-size:0.94em;
	height:30px;
	padding: 17px 1.5em 0;
	display:block;
}
#navbar li a:hover {
	background: #222;
	color:#bbb;
}



/* Content index */
h1.manage-content {
	float:left;
	margin-bottom:1em;
	display:none;
}

a.create-node {
	float:left;
	margin-top: 20px;
/*	margin-left:35px;*/
	
	display:inline;
/*	width: 70px;*/
	border-radius: 10px;
	border: 3px solid #00B0F4;
	background:#00B7FF;
	color:white;
	font-size: 1em;

	padding: 5px 10px;
	padding-left: 30px;
	cursor:pointer;
}

a.create-node:hover {
	background:#00A7EF;
	border-color:#00A0E7;
}


input.ui-list-search {
	margin-top: 20px;
	margin-left: 1em;
	
	color: #333;
	width:200px;
	border: 1px solid #aaa;
	border-radius: 10px;
	font-size: 1em;
	padding: 5px 10px;
	
	float:right;
	display:block;
}
input.ui-list-search:hover, input.ui-list-search:active {
	background: #fafafa;
	color: #000;
	border-color: #888;
}

div.ui-list-wrapper {
	margin-top:25px;
	display:block;
	clear:both;
}
div.ui-list {}
div.ui-list ul {
	/*	overflow:auto;*/
	/*	padding:2.5em;*/
}
div.ui-list ul li {
	display:block;
	padding: 1em;
	color: #444;
	background:#eff5ff;
	border: 1px solid #e0e0e4;
	border-radius: 12px;
	margin-bottom: 7px;
	margin-right: 5px;
}

a.loadMore {
	display:block;
	background:#bbb;
	color:#888;
	font-size:0.8em;
	padding:5px 5px 5px;
	border-radius:5px;
	margin:15px auto 0;
	width:25px;
	text-align:center;
	cursor:pointer;
}
a.loadMore:hover {
	color:#666;
	background:#aaa;
}

div.empty-table {
	display:block;
	width:200px;
}
div.empty-table img {
	
}