body {
	font: 14px Helvetica, Arial, sans-serif;
}

/* Style */
html {
	background:#e0e0e0;
}

a {
	color: #00B7FF;
}

h1 {
	font-size: 28px;
	font-weight:bold;
	margin: 20px 0 15px;
	color:#444;
	text-shadow: 0 0 5px rgba(150,150,150, 0.6);
}


/* Layout */
#topbar {
	width: 100%;
	padding: 0 2em;
	background:black;
	position:fixed;
	top:0; left:0;
	z-index:100;
	box-shadow: 0 2px 2px rgba(100,100,100,0.5);
}

#branding {
	margin: 0;
	text-shadow:none;
	padding: 12px 0 0;
	height:35px;
	font-size: 19px;
	font-weight:normal;
	color:white;
	width: 100px;
	float:left;
}

#navbar {
	overflow:auto;
}
#navbar li {
	float:left;
}
#navbar li a {
	color:#aaa;
	font-size:0.94em;
	height:30px;
	padding: 17px 1.5em 0;
	display:block;
}
#navbar li a:hover {
/*	background: #222;*/
	color:#ccc;
}

#navbar li a.selected {
/*	color:#00B7FF;*/
	color:#ddd;
	background:#444;
/*	box-shadow: 0 0px 5px rgba(250,250,250,0.8);*/
	font-weight:bold;
	font-size:0.94em;
	height:30px;
	padding: 17px 1.5em 0;
	display:block;
}

#navbar-dropdown {
	float:right;
	margin-top: 15px;
	margin-right: 45px;
}



#content {
	background:#f0f0f0;
	padding: 50px 20px 30px;
	box-shadow: 0 3px 1px rgba(150,150,150,0.2);
}

#footer {
	padding:1em 0 3em;
	color:#999;
	font-size: 0.85em;
}

#footer .copyright {
	color:#777;
	margin-left: 2em;
	opacity: 0.8;
}

#footer .copyright:hover {
	opacity: 1;
	text-decoration:underline;
}

/* Content index */
h1.manage-content {
	float:left;
	margin-bottom:1em;
	display:none;
}

a.create-node {
	float:left;
	/*	margin-left:35px;*/

	display:inline;
	/*	width: 70px;*/
	border-radius: 10px;
	border: 3px solid #00B0F4;
	background:#00B7FF url('/images/plus-icon.png') 9px center no-repeat;
	color:white;
	font-size: 1em;

	padding: 5px 10px;
	padding-left: 30px;
	cursor:pointer;
}

a.create-node:hover {
	background-color:#00A7EF;
	border-color:#00A0E7;
}


input.ui-list-search {
	margin-top: 0px;
	margin-left: 1em;

	color: #333;
	width:200px;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 1em;
	padding: 5px 10px;

	float:right;
	display:block;
}
input.ui-list-search:hover, input.ui-list-search:active {
	background: #fafafa;
	color: #000;
	border-color: #ccc;
}

div.ui-list-wrapper {
	margin-top:25px;
	display:block;
	clear:both;
}
div.ui-list {}
div.ui-list ul {
	margin-top: 20px;
	/*	overflow:auto;*/
	/*	padding:2.5em;*/
}
div.ui-list ul li {
	opacity: 0.8;
	overflow:auto;
	word-wrap:break-word;
	display:block;
	padding: 0;
	color: #444;
	background:#eff5ff;
	border: 1px solid #e0e0e4;
	border-radius: 12px;
	margin-bottom: 7px;
	margin-right: 5px;
}

div.ui-list ul li .property:hover {
	cursor:pointer;
}

div.ui-list ul li .payload {
	margin:0;
	width:48%;
	padding: 1em 3%;
	font-size: 10px;
	color:#888;
	border-right: 1px inset #e8e8e8;
	display:block;
	float:left;
	overflow: hidden;
/*	text-overflow:ellipsis;*/
/*	white-space: nowrap;*/
}

div.ui-list ul li span.payload {
	font-weight: normal;
	text-shadow: none;
	color: #AAA;
	font-size: .9em;
	font-style: italic;
	line-height: 1.2em;
}

div.ui-list ul li pre.payload code {
	background:none!important;
}

div.ui-list ul li div.info {
	
	width:20%;
	min-width: 40px;
	padding: 1em 1% 1em 3%;
	border-right: 1px inset #e8e8e8;
	display:block;
	float:left;
	overflow: hidden;
	height:100%;
}

div.ui-list ul li div.info strong.title {}
div.ui-list ul li div.info em.description {
	display:block;
	margin-top:0.5em;
	font-size:0.8em;
	color:#999;
	font-style:normal;
}


div.ui-list ul li a.content-type {
	width:20%;
	min-width:30px;
	padding: 1em 1%;
	font-size: 0.9em;
	text-transform: uppercase;
	text-align:center;
	display:block;
	float:right;
	overflow: hidden;
/*	text-overflow:ellipsis;*/
/*	white-space: nowrap;*/
}


/* load more button */
a.loadMore {
	background:#dfdfdf;
	color:#777;
	
	display:block;
	height:1.2em;
	font-size:0.8em;
	padding:1em 4em;
	border-radius:5px;
	margin:15px auto 0;
	width:25px;
	text-align:center;
	cursor:pointer;
}
a.loadMore:hover {
	color:#666;
	background:#d4d4d4;
}
a.loadMore div.empty-table {
	position:static;
}
a.loadMore div.empty-table img {
	display:block;
	margin: 15px auto 0;
	width:16px;
	height:16px;
}

/* no content to display */
div.emptytext {
	text-align:center;
	color:#888;
	
}

/* loading spinner */
div.empty-table {
	display:block;
	margin:0 auto;
	width:16px;
}
div.empty-table img {
	display:block;
	margin:0 auto;
	width:16px;
	height:16px;
}
div.empty-table {
	position: absolute;
	top: 0;
}