/* Content index */
h1.manage-content {
	float:left;
	margin-bottom:1em;
	display:none;
}
a.create-node {
	float:left;
	/*	margin-left:35px;*/

	display:inline;
	border-radius: 10px;
	border: 3px solid #00B0F4;
	background:#00B7FF url('/images/plus-icon.png') 9px center no-repeat;
	color:white;
	font-size: 1em;

	padding: 5px 10px;
	padding-left: 30px;
	cursor:pointer;
}
a.create-node:hover {
	background-color:#00A7EF;
	border-color:#00A0E7;
}

div.ui-list .section {
	height:100%;
	display:block;
	float:left;
	overflow: hidden;
}
div.ui-list .section:hover {
	cursor:pointer;
}
div.ui-list .inner-section {
	padding-top:1em;
	padding-bottom:1em;
}

/* top level divisions */
div.ui-list div.info-column {
	padding-right: 1%;
	padding-left: 3%;
	width:20%;
	min-width: 40px;

}
div.ui-list .payload-column {
	padding-right: 3%;
	padding-left: 3%;
	
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	
	width:48%;
	margin:0;
	line-height:1.1em;
	font-size: 11px;
	color:#888;
}

div.ui-list .type-column {
	padding-right: 1%;
	padding-left: 1%;
	
	width:20%;
	min-width:30px;
	font-size: 0.9em;
	text-transform: uppercase;
	text-align:center;
	float:right;
}

/* sub-divisions */
div.ui-list ul li span.payload {
	font-weight: normal;
	text-shadow: none;
	color: #AAA;
	font-size: .9em;
	font-style: italic;
	line-height: 1.2em;
	word-wrap: break-word;
}

div.ui-list ul li pre.payload code {
	background:none!important;
	
	word-wrap: break-word;
/*	overflow: hidden;*/
/*	text-overflow:ellipsis;*/
/*	white-space: no-wrap;*/
/*	height:2em;*/
}

div.ui-list ul li div.info-column strong.title {
	display:block;
}
div.ui-list ul li div.info-column em.description {
	display:block;
	margin-top:0.5em;
	font-size:0.8em;
	color:#999;
	font-style:normal;
}





