/* Content index */
h1.manage-content {
	float:left;
	margin-bottom:1em;
	display:none;
}
a.create-node {
	
	opacity:.7;
	float:left;
	display:inline;
	border-radius: 10px;
	border: 2px solid #00B0F4;
	background:#00B7FF url('/images/plus-icon.png') 9px center no-repeat;
	color:white;
	font-size: 1em;

	padding: 8px 13px;
	padding-left: 30px;
	cursor:pointer;
}
a.create-node:hover {
	background-color:#00A7EF;
	border-color:#00A0E7;
}
a.unusable {
	display:none;
}
a.delete-nodes {
	opacity:.7;
	float:left;
	margin-left:20px;
	
	display:inline;
	border-radius: 10px;
	border: 2px solid #ba2722;
	background:#cb372a;
	color:white;
	font-size: 1em;

	padding: 8px 13px;
	cursor:pointer;
}
a.delete-nodes:hover {
	background-color:#aa371a;
	border-color:#aa2712;
}

div.ui-list .section {
	height:100%;
	display:block;
	float:left;
	overflow: hidden;
}
div.ui-list .section:hover {
	cursor:pointer;
}
div.ui-list .inner-section {
	padding-top:1em;
	padding-bottom:1em;
}

/* Editor */
div.ui-list .inner-section textarea.editor {
	width:96%;
	border-color: #bbb;
	color: #888;
	height: 10em;
	padding: 1em 2%;
	resize: none
}
div.ui-list .inner-section a.editor {
	display:block;
	float:right;
	font-size: 1.15em;
	padding: 1em 1em 1em 0;
}
div.ui-list .inner-section a.save.editor {
	font-weight:bold;
}
div.ui-list .inner-section a.cancel.editor {
	color: #aaa;
/*	color: #aa371a;*/
/*	color: #aa371a;*/
}



/* top level divisions */
div.ui-list div.checkbox-column {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	width:5%;
	min-width:15px;
	border-right: 1px solid #e8e8e8;
	
	text-align:center;
}

div.ui-list div.checkbox-column input {
	
	margin-top:2em;
}

div.ui-list div.info-column {
	padding-right: 1%;
	padding-left: 1%;
	width:25%;
	min-width: 45px;

}
div.ui-list .payload-column {
	padding-right: 1%;
	padding-left: 1%;
	
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	
	width:47%;
	min-width: 100px;
	margin:0;
	line-height:1.1em;
	font-size: 11px;
	color:#888;
}

div.ui-list .type-column {
	padding-right: 1%;
	padding-left: 1%;
	
	width:16%;
	min-width:30px;
	font-size: 0.9em;
/*	text-transform: uppercase;*/
	text-align:center;
}

div.ui-list .type-column .type.property {
/*	font-weight:bold;*/
}

/* sub-divisions */
div.ui-list ul li span.payload {
	font-weight: normal;
	text-shadow: none;
	color: #AAA;
	font-size: .9em;
	font-style: italic;
	line-height: 1.2em;
	word-wrap: break-word;
	
}

div.ui-list ul li pre.payload code {
	background:none!important;
	
	word-wrap: break-word;
/*	overflow: hidden;*/
/*	text-overflow:ellipsis;*/
/*	white-space: no-wrap;*/
/*	height:2em;*/
}

div.ui-list ul li div.info-column strong.title {
	display:block;
}
div.ui-list ul li div.info-column em.description {
	display:block;
	margin-top:0.5em;
	font-size:0.8em;
	color:#999;
	font-style:normal;
}






/* darken text color when selected */
div.ui-list li.selected .payload, div.ui-list li.selected .content-type, div.ui-list li.selected .description {
	color:#444!important;
}