.mobile-only {
	display:none;
}

@media screen and (max-width: 980px) {
	
	a.create-node {}
	
	input.ui-list-search {
		width:45%;
		padding-top:7px;
		padding-bottom:7px;
	}
	
}

@media screen and (max-width: 480px) {
	#navbar {
		display:none;
	}
	
	.mobile-only {
		display:block;
	}
}