/**
* ui-list
*
*/



input.ui-list-search {
	margin-top: 0px;
	margin-left: 1em;

	color: #333;
	width:200px;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 1em;
	padding: 5px 10px;

	float:right;
	display:block;
}
input.ui-list-search:hover, input.ui-list-search:active {
	background: #fafafa;
	color: #000;
	border-color: #ccc;
}

div.ui-list-wrapper {
	margin-top:25px;
	display:block;
	clear:both;
}
div.ui-list {}
div.ui-list ul {
	margin-top: 20px;
	/*	overflow:auto;*/
	/*	padding:2.5em;*/
}
div.ui-list ul li {
	opacity: 0.8;
	overflow:auto;
	
	display:block;
	padding: 0;
	color: #444;
/*	background:#eff5ff;*/
	background:#fff;
	border: 1px solid #bbb;
	border-radius: 12px;
	margin-bottom: 7px;
	margin-right: 5px;
}

div.ui-list ul li.selected {
/*	border-radius: 25px;*/
	opacity: 0.6!important;
	background:#e8e8e8;
	border: 2px inset #ddd;
}

/* load more button */
a.loadMore {
	
	display:block;
	height:1.2em;
	
	padding:0.5em 4em;
	border-radius:5px;
	margin:1em auto 0;
	width:35px;
	text-align:center;
	
	border: 1px solid #bbb;
	background:#d4d4d4;
	
	border-color: #999;
	background:#c8c8c8;
	opacity: 0.8;
	color:white;
	font-size: 1em;
	cursor:pointer;
}
a.loadMore:hover {
	opacity: 1;
	border-color: #888888;
	background:#c0c0c0;
}
a.loadMore div.empty-table {
	position:static;
}
a.loadMore div.empty-table img {
	display:block;
	margin: 15px auto 0;
	width:16px;
	height:16px;
}

/* no content to display */
div.emptytext {
	margin:4em 0 1em;
	text-align:center;
	color:#888;
	
}

/* loading spinner */
div.empty-table {
	display:block;
	margin:0 auto;
	width:16px;
}
div.empty-table img {
	display:block;
	margin:0 auto;
	width:16px;
	height:16px;
}
div.empty-table {
	position: absolute;
	top: 0;
}