.test {
	background:red;
	width:200px;height:200px;
}
.test textarea {}




.test1 {
	float:left;
	border: 2px solid gray;
	background-color: rgba(150,150,150,0.2);
	width:300px;
	padding: 1em;
}
.test1 textarea {
	margin:0.5em auto;
	padding: 1%;
	width: 90%;
	font-size: 1.1em;
	text-align:center;
}
