<!--
	REMEMBER:
	Don't use IDs in css selectors for templates!
	IDs are stripped from templates!
-->

<style type="text/css">
	.testtable {
		float:left;
		background: #aaf;
		padding:1em;
		margin: 0 auto;
		width:50%;
		min-height:100px;
	}
	
	.testtable ul {
		
		margin-top: 1em;
	}
	
	.testtable a {
		background:#522;
		padding: 0.2em 0.5em;
		display:block;
		float:right;
		font-weight:bold;
		color:white;
		cursor:pointer;
	}
	
	.testtable .searchbox {
		clear:both;
		display:block;
	}
	
	
	.testtable .row span {
		display:block;
		float:left;
	}
	.testtable .row a, .testtable .row span {
		padding: 0.3em 0.5em 0.3em 0.5em;
	}
	.testtable .row {
		border: 1px solid #bbf;
		overflow:auto;
		background:#99e;
	}
	.testtable .row.highlighted {
		background:#eee;
		font-weight:bold;
	}
	
</style>

<div class="testtable" id="mast-template-testtable">
	<a class="deselectAll">Deselect All</a>
	<a class="addRow">+ Add row</a>
	<input type="text" class="searchbox" placeholder="Search"/>
	<ul class="row-outlet"></ul>
</div>

<li class="row {% if (highlighted) { %} highlighted {% } %}" id="mast-template-testtable-row">
	<span>{{title}} | {{value}} </span><a class="doDelete" style="cursor:pointer;">x</a>
</li>