<style type="text/css">
	.clear {
		clear:both;
	}
</style>
<div class="container">
	<div class="sandbox"></div>
	<div class="clear"></div>
</div>



<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>


<!--<script type="text/javascript" src="/js/AppController.js"></script>-->
<script type="text/javascript">
	// Instantiate the Mast library
	Mast.raise({
		controller: AppController,
		baseurl: 'http://localhost:5008'
	});
	
</script>