<script type="text/javascript" src="/sources/models/Content.js"></script>
<script type="text/javascript" src="/sources/collections/Contents.js"></script>
<script type="text/javascript" src="/sources/views/ContentView.js"></script>
<script type="text/javascript" src="/sources/views/ContentsView.js"></script>

<h1 class="manage-content">manage content</h1>

<div class="clear"></div>

<div class="ui-list-wrapper">
<a class="create-node">new node</a>
<a class="delete-nodes wide">delete</a>
<input class="ui-list-search" type="text" placeholder="search for node..." />
<!--<a class="delete-nodes mobile-only">delete</a>-->
<div class="clear"></div>
	<div class="ui-list content-node-list">
		<ul></ul>
	</div>
</div>

<div class="clear"></div>