<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    </head>
  <body>
    <div id="topbar">
      <h1 id="branding">
	<a href="/">sails.js</a>
	</h1>

    <div id="content">
      <%- body %>
      </div>
    <div id="footer">
      <a target="_blank" href="http://sailsjs.com" class="copyright">&copy; Sails Framework 2012</a>
      </div>
    </body>
</html>
