<style type="text/css">
	.mast-button {
		text-align: center;
		background:#999;
		color: #222;
		width: 30%;
		margin: 1% auto;
		padding: 2%;
		font-size: 1.1em;
		border-radius: 0.2em;
		display:block;
		clear:both;
		border: 2px solid #888;
	}
</style>


<a id="mast-template-button" class="mast-button">{{label}}</a>
