<style type="text/css">
	#mast-template-testtable {
		background: #aaf;
		padding:1em;
		margin: 0 auto;
		width:50%;
		min-height:100px;
	}
	
	#mast-template-testtable {
		
	}
</style>

<div id="mast-template-testtable">
	<ul class="mast-outlet-row"></ul>
</div>

<li id="mast-template-row-testtable">
	row: {{id}}
</li>