<!--
	REMEMBER:
	Don't use IDs in css selectors for templates!
	IDs are stripped from templates!
-->

<style type="text/css">
	.testtable {
		float:left;
		background: #aaf;
		padding:1em;
		margin: 0 auto;
		width:50%;
		min-height:100px;
	}
	
	.testtable .row {
		background:#99e;
	}
	.testtable .row.highlighted {
		background:#eee;
		font-weight:bold;
	}
</style>

<div class="testtable" id="mast-template-testtable">
	<ul class="row-outlet"></ul>
</div>

<li class="row {% if (highlighted) { %} highlighted {% } %}" id="mast-template-testtable-row">
	{{id}} | {{title}} | {{value}}
</li>