<style type="text/css">
	#mast-template-testtable {
		background: #aaf;
		padding:1em;
		margin: 0 auto;
		width:50%;
	}
</style>

<div id="mast-template-testtable">
	<ul class="tablecontainer">
		
	</ul>
</div>

<li id="mast-template-row-testtable">
	row: {{id}}
</li>