
<style type="text/css">

	.test {
		background:red;
		width:200px;height:200px;
	}
	.test textarea {}
	
	
	
	
	.test1 {
		border: 2px solid gray;
		background-color: rgba(150,150,150,0.2);
		width:500px;
		padding: 1em;
	}
	.test1 textarea {
		margin:0.5em auto;
		padding: 5%;
		width: 90%;
		font-size: 1.5em;
		text-align:center;
	}

</style>


<div class="test mast template">
	<textarea>{{name}}</textarea>
</div>

<div class="test1 template">
	<h3>NEW TEMPLATE</h3>
	<textarea>{{name}}</textarea>
	<p>Can use the same, or different data!</p>
</div>






